<div class="qr-root">
    <div class="head-item">
        <img src="assets/img/qr-logo.jpg" alt="">
        <h1>QR Kod Oluşturucu</h1>        
    </div>
    <div class="qr-wrapper">       
        <div class="options-container">
            <div class="options-block">
                <div class="option-item" 
                    [class.active] = "activeTab === 'link'"
                    (click)="[switchModal('link')]">
                    <div class="img-item" >
                        <i class="fi fi-rr-link-alt"></i>
                    </div>
                    <div class="text-item">
                        <span>Link</span>
                    </div>
                </div>                
                <div class="option-item" 
                    [class.active] = "activeTab === 'wp'" 
                    (click)="[switchModal('wp')]">
                    <div class="img-item">
                        <img src="assets/img/whatsapp-icon.png" alt="">
                    </div>
                    <div class="text-item">
                        <span>Whatsapp</span>
                    </div>
                </div>
                <!-- <div class="option-item" 
                    [class.active] = "activeTab === 'mail'" 
                    (click)="[switchModal('mail')]">
                    <div class="img-item">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                    <div class="text-item">
                        <span>E-posta</span>
                    </div>
                </div> -->
                <div class="option-item" 
                    [class.active] = "activeTab === 'wifi'" 
                    (click)="[switchModal('wifi')]">
                    <div class="img-item">
                        <i class="fi fi-rr-wifi"></i>
                    </div>
                    <div class="text-item">
                        <span>Wifi</span>
                    </div>
                </div>               
            </div> 
            <div class="qr-content-block">
                <link-component 
                    (generate)="generateQr($event)"
                    *ngIf="activeTab === 'link'"></link-component>
                <wp-component 
                    (generate)="generateQr($event)"
                    *ngIf="activeTab === 'wp'"></wp-component>
                <wifi-component 
                    (generate)="generateQr($event)"
                    *ngIf="activeTab === 'wifi'"></wifi-component>
                <!-- <mail-component 
                    
                    *ngIf="activeTab === 'mail'"></mail-component> -->
            </div>           
        </div>              
        <div class="qr-theme-container">
              <div class="current-qr-block">
                    <span>QR Kod Önizlemesi</span>
                    <div class="current-qr-item" [ngClass]="qrCodeUrl ? 'QR' : ''">
                        <img [src]="qrCodeUrl ? qrCodeUrl : 'assets/img/qr-preview.png'" alt="">
                        <!-- <img src="" alt=""> -->
                    </div>
              </div>                                           
        </div>   
        <div class="success-message" [ngClass]="isMessage ? 'show' : 'hide' ">
            <span>QR Oluşturuldu</span>
        </div> 
    </div>
</div>