<form 
     #phoneForm="ngForm" action="" class="qr-wp" 
     (ngSubmit)="onSubmit(phoneForm); $event.preventDefault()">

    <label for="phoneNumber">Telefon Numarası</label>
    <input 
            [(ngModel)]="phone" 
            id="phoneNumber"
            name="phone" 
            type="text" 
            placeholder="+90 555 555 5555">

    <label for="message" class="msg">Mesaj (Zorunlu Değil)</label>
    <textarea 
            [(ngModel)]="message" 
            id="message"
            name="message" 
            type="text" 
            placeholder="Mesajınız"></textarea>    

    <button type="submit" class="btn-create" [disabled]="phoneForm.invalid">
        Qr Oluştur
    </button> 
    <!-- <span>Telefon numaranızın başında ülke kodu olmalı (+90 vs.)</span> -->
</form>